<!-- LEFT MENU -->
<div class="col-lg-2  pull-left">
  <ul class="nav nav-pills nav-stacked left-menu hidden-xs hidden-sm hidden-md">
    <li class="button-add">
      <a ui-sref="home" data-toggle="modal" data-target="#addModal" >
      <i class="fa fa-plus margin-right20"></i>&nbsp;DODAJ</a>
    </li>
    <li><a ui-sref="home"><i class="fa fa-home margin-right20"></i>&nbsp;Domov</a></li>
    <li><a ui-sref="expenses"><i class="fa fa-line-chart margin-right20"></i>&nbsp;Zgodovina</a></li>
    <li><a ui-sref="user"><i class="fa fa-user margin-right20"></i>&nbsp;Profil</a></li>
    <li ng-show="user.role=='admin'"><a ui-sref="events"><i class="fa fa-hand-spock-o margin-right20"></i>&nbsp;Events</a></li>
  </ul>
</div>

<!-- VIEW CONTENT -->
<div class="container col-lg-10 col-md-12 col-sm-12 col-xs-12" ng-controller="EventsController">
  <h2>Pregled preteklih dejavnosti</h2>
  <br>        
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>UserId</th>
        <th>Type</th>
        <th>Metadata</th>
        <th>Date</th>
      </tr>
    </thead>


    <tbody>
      <tr ng-repeat="event in events">
        <td>{{ event.userId }}</td>
        <td>{{ event.type }}</td>
        <td>{{ event.metadata }}</td>
        <td>{{ event.created }}</td>
      </tr>
    </tbody>

  </table>
</div>
