<div class="container col-12">
	<!-- SEARCH -->
  <div class="row">
  	<div class="col-md-8 col-lg-8 col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-search"></i></span>
            <input type="search" class="form-control" placeholder="Iskanje po izdatkih" ng-model-options="{ debounce: 500 }" />
        </div>
    </div>

    <div class="input-group col-md-4 col-lg-4 col-sm-12">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Išči po... <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="setSearch('all')">Vsem</a></li>
          <li><a class="pointer"ng-click="setSearch('description')">Opisu</a></li>
          <li><a ng-click="setSearch('date')">Datumu</a></li>
          <li><a ng-click="setSearch('tag')">Oznaki</a></li>
          <li><a ng-click="setSearch('type')">Tipu</a></li>
        </ul>
      </div><!-- end btn-group -->
      <input type="text" class="form-control" aria-label="..." ng-model="search">
    </div><!-- end input-group -->
  </div><!-- end row -->
  <br>
  <!-- SEARCH CONTENT -->
  <div class="container" ng-controller="ExpensesController">
        
    <table class="table">
      <thead>
        <tr>
          <th>Opis</th>
          <th>Datum</th>
          <th>Oznaka</th>
          <th>Tip</th>
          <th>Količina</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Nakup 0</td>
          <td>1.1.2016</td>
          <td>Elektrika</td>
          <td>Odliv</td>
          <td class="odliv">-147.76 €</td>
          
        </tr>
        <tr>
          <td>Nakup 12</td>
          <td>12.11.2015</td>
          <td>Avto</td>
          <td>Odliv</td>
          <td class="odliv">-13.47 €</td>
          
        </tr>
        <tr>
          <td>Plača marec</td>
          <td>12.11.2015</td>
          <td>Plača</td>
          <td>Priliv</td>
          <td class="priliv">+1780.97 €</td>
        </tr>
        <tr>
          <td>Nakup 0</td>
          <td>12.11.2015</td>
          <td>Elektrika</td>
          <td>Odliv</td>
          <td class="odliv">-147.76 €</td>
          
        </tr>
        <tr>
          <td>Nakup 12</td>
          <td>12.11.2015</td>
          <td>Avto</td>
          <td>Odliv</td>
          <td class="odliv">-13.47 €</td>
          
        </tr>
        <tr>
          <td>Dolg Miha</td>
          <td>12.11.2015</td>
          <td>Plača</td>
          <td>Priliv</td>
          <td class="priliv">+500 €</td>
        </tr>
        <tr>
          <td>Nakup 0</td>
          <td>12.11.2015</td>
          <td>Elektrika</td>
          <td>Odliv</td>
          <td class="odliv">-147.76 €</td>
          
        </tr>
        <tr>
          <td>Nakup 12</td>
          <td>12.11.2015</td>
          <td>Avto</td>
          <td>Odliv</td>
          <td class="odliv">-13.47 €</td>
          
        </tr>
        <tr>
          <td>Plača december</td>
          <td>12.11.2015</td>
          <td>Plača, Nadure</td>
          <td>Priliv</td>
          <td class="priliv">+2076.97 €</td>
        </tr>
      </tbody>
    </table>

    <nav>
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>