<!-- LEFT MENU -->
<div class="col-lg-2  pull-left">
  <ul class="nav nav-pills nav-stacked left-menu hidden-xs hidden-sm hidden-md">
    <li class="button-add">
      <a ui-sref="home" data-toggle="modal" data-target="#addModal" >
      <i class="fa fa-plus margin-right20"></i>&nbsp;DODAJ</a>
    </li>
    <li><a ui-sref="home"><i class="fa fa-home margin-right20"></i>&nbsp;Domov</a></li>
    <li><a ui-sref="expenses"><i class="fa fa-line-chart margin-right20"></i>&nbsp;Zgodovina</a></li>
    <li><a ui-sref="user"><i class="fa fa-user margin-right20"></i>&nbsp;Profil</a></li>
    <li ng-show="user.role=='admin'"><a ui-sref="events"><i class="fa fa-hand-spock-o margin-right20"></i>&nbsp;Events</a></li>
  </ul>
</div>

<!-- VIEW CONTENT -->
<div class="container col-lg-10 col-md-12 col-sm-12 col-xs-12" ng-controller="ExpensesController">
	<!-- SEARCH -->
  <div class="row">
  	<div class="col-md-8 col-lg-8 col-sm-12">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-search"></i></span>
            <input type="search" class="form-control" placeholder="Iskanje po izdatkih" ng-model-options="{ debounce: 500 }" ng-keyup="search()" ng-model="query"/>
        </div>
    </div>

    <div class="input-group col-md-4 col-lg-4 col-sm-12">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Išči po... <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ng-click="setSearch('all')">Vsem</a></li>
          <li><a class="pointer"ng-click="setSearch('description')">Opisu</a></li>
          <li><a ng-click="setSearch('date')">Datumu</a></li>
          <li><a ng-click="setSearch('tag')">Oznaki</a></li>
          <li><a ng-click="setSearch('type')">Tipu</a></li>
        </ul>
      </div><!-- end btn-group -->
      <input type="text" class="form-control" aria-label="..." ng-model="searchType">
    </div><!-- end input-group -->
  </div><!-- end row -->
  <br>
  <!-- SEARCH CONTENT -->
  <div class="container" ng-controller="ExpensesController">
        
    <table class="table">
      <thead>
        <tr>
          <th>Opis</th>
          <th>Datum</th>
          <th>Oznaka</th>
          <th>Tip</th>
          <th>Količina</th>
        </tr>
      </thead>

      <tbody>
      <tr ng-repeat="event in expenses">
        <td>{{ event.description }}</td>
        <td>{{ event.created | date: 'dd MMMM yyyy, HH:mm:ss' }}</td>
        <td>{{ event.tags.toString() }}</td>
        <td>{{ event.type }}</td>
        <td class="odliv" ng-show="event.type == 'odliv'">-{{ event.amount }}</td>
        <td class="priliv" ng-show="event.type == 'priliv'">+{{ event.amount }}</td>
      </tr>

    </tbody>
    </table>

    <nav>
      <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>