<!-- Dodajanje novega priliva/odliva -->

<div class="container" ng-controller="AddController">
	<h2>Dodajanje novega {{type}}</h2>
	<div class="jumbotron">

		<div class="btn-group btn-group-justified" role="group" aria-label="...">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-danger">ODLIV</button>
		  </div>
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-success">PRILIV</button>
		  </div>
		</div>
		<!-- INPUT OPIS -->
		<div class="input-group">
		  <span class="input-group-addon col-lg-2" id="basic-addon1">Opis: </span>
		  <input type="text" class="form-control" placeholder="npr. Položnica za elektriko - marec" aria-describedby="basic-addon1">
		</div>

		<!-- INPUT OZNAKA -->
		<div class="input-group">
		  <span class="input-group-addon col-lg-2" id="basic-addon2">Oznaka: </span>
		  <input type="text" class="form-control" placeholder="npr. elektrika, položnica, marec" aria-describedby="basic-addon1">
		</div>

		<!-- INPUT OZNAKA -->
		<div class="input-group">
		  <span class="input-group-addon col-lg-2" id="basic-addon2">Količina: </span>
		  <input type="text" class="form-control" placeholder="npr. 200" aria-describedby="basic-addon1">
		  <span class="input-group-addon" id="basic-addon2">€</span>
		</div>


		<!-- INPUT DATUM -->
		<div class="container">
    <div class="row">
        <div class='col-sm-12'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
	</div>
</div>