<div class="col-12" ng-controller="UserController">
  <div class="col-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-11">
          <h2>Moj profil</h2> 
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-default" ng-click="editUser()">
            <i class="fa fa-pencil"></i> Uredi
          </button>
        </div>
      </div>
    </div>
  </div>
    
  <div class="col-11">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
      <div class="col-lg-4">
        <a href="#" class="thumbnail">
        <img src="images/user-avatar.png" alt="...">
      </a>

      

      
      </div>
      <div class="col-lg-8">
        <form class="form-horizontal">

          <!-- INPUT IME -->
          <div class="form-group">
            <label for="inputIme" class="col-sm-2 control-label">Ime: </label>
            <div class="col-sm-10">
              <span ng-show="!edit" ng-bind="user.name"></span>
              <input type="text" class="form-control" id="ime" type="text" ng-model="user.name" ng-show="edit">
            </div>
          </div>

          <!-- INPUT PRIIMEK -->
          <div class="form-group">
            <label for="labelPriimek" class="col-sm-2 control-label">Priimek: </label>
            <div class="col-sm-10">
              <span ng-show="!edit" ng-bind="user.surname"></span>
              <input type="text" class="form-control" id="priimek" type="text" ng-model="user.surname" ng-show="edit">
            </div>
          </div>

          <!-- INPUT UPORABNIŠKO IME -->
          <div class="form-group">
            <label for="labelUsername" class="col-sm-2 control-label">Upor. ime: </label>
            <div class="col-sm-10">
            <span ng-show="!edit" ng-bind="user.username"></span>
              <input type="text" class="form-control" id="username" type="text" ng-model="user.username" ng-show="edit">
            </div>
          </div>

          <!-- INPUT USERNAME -->
          <div class="form-group">
            <label for="labelUsername" class="col-sm-2 control-label">Email </label>
            <div class="col-sm-10">
            <span ng-show="!edit" ng-bind="user.email" class="pull-left"></span>
              <input type="email" class="form-control" id="email" type="text" ng-model="user.email" ng-show="edit">
            </div>
          </div>
        </form>

        </div><!-- end col-lg-8-->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end jumbotron -->
  </div>
</div><!-- end col-12 -->